SECRET_KEY=django-insecure-1234567890
DEBUG=True
TELEGRAM_BOT_TOKEN=7956415135:AAHsnhEY5zDlfX7ThSRGYQnc6LiE1f4eB6E
# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
*.log

# Virtual environments
venv/
env/
ENV/

# Environment Variables
.env

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid